{% extends 'global/base.html' %}
{% block basetitle %}
<title>{{ contact.name }}</title>
{% endblock %}
{% block content %}
<div class="container">
    <h2> {{ contact.name }} </h2>
    <div class="card">
        <div class="card-header">
            <h2 class="col card-title">Status: &nbsp;
                {% if contact.status == 'C' %}
                    <span class="status-icon bg-success"></span> Contacted
                {% elif contact.status == 'U' %}
                    <span class="status-icon bg-danger"></span> Uncontacted
                {% endif %}
            </h2>
            <div class="col text-right">
                <a class="button" href="{% url 'contacts:edit' contact.pk %}">
                    <button class="btn btn-primary ml-auto">Edit</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row row-cards">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">General Information</h2>
                </div>
                <div class="card-body">
                    <p class="required-field">
                        <label><b>Company: </b></label>
                        <a href="{% url 'companies:view' contact.company.pk %}">
                            {{ contact.company.name }}
                        </a> {% if contact.company.size %}<br />{% endif %}
                        {% if contact.company.size == 'S'%}
                        <span class="tag tag-green">Small</span>
                        {% elif contact.company.size == 'M'%}
                        <span class="tag tag-yellow">Medium</span>
                        {% elif contact.company.size == 'L'%}
                        <span class="tag tag-red">Large</span>
                        {% endif %}
                        {% for industry in contact.company.industries.all %}
                            <span class="tag tag-{{ industry.color }}">{{ industry.name }}</span>
                        {% endfor %}

                    </p>
                    <p class="required-field">
                        <label><b>Position: </b></label>
                        {{ contact.position }}
                    </p>
                    <p class="required-field">
                        <label><b>Email: </b></label>
                        <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                    </p>
                    <p class="required-field">
                            <label><b>Phone Number: </b></label>
                            <a href="mailto:{{ contact.phone_number }}">{{ contact.phone_number }}</a>
                        </p>
                    <p class="text-right">
                        Last Updated: {{ contact.updated }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card flex-grow-1">
                <div class="card-header">
                    <h2 class="card-title">Notes</h2>
                </div>
                <div class="card-body">
                    {{ contact.notes | safe }}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}