{% extends 'global/forms.html' %}
{% block basetitle %}
    <title>New Contact</title>
{% endblock %}
{% block title %}
New Contact
{% endblock %}

{% block formbodyheader %}
{% if not request.GET.company_id %}
<p>
    If this contact is for a new company, <a href="{% url 'companies:new' %}?next={{ request.get_full_path|urlencode }}">create the company first</a>.
</p>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
requireSelect2(function() {
    $("#id_company").select2();
});
</script>
{% endblock %}