{% load static %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    {% block basetitle %}
    {% endblock %}
    <style type="text/css">
    .dashboard-nav-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    a.button {
        text-decoration: none !important;
    }
    </style>
    <link href="{% static 'tabler/css/dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'tabler/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />
    <link href="{% static 'tabler/plugins/maps-google/plugin.css' %}" rel="stylesheet" />
    <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    {% block css %}
    {# additional css #}
    {% endblock %}
</head>

<header>
    <div class="header" id="header">
        {% block header %}
        {% include 'global/header.html' %}
        {% endblock %}

        {% block menu %}
        {% include 'global/menu.html' %}
        {% endblock %}
    </div>
</header>

<body>
    <div class="content my-3 my-md-5 container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-{{ message.level_tag }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {# page contents #}
        {% endblock %}
    </div>
</body>

<footer>
    <div class="footer" id="footer">
        {% block footer %}
        {% include 'global/footer.html' %}
        {% endblock %}
    </div>
</footer>

<script src="{% static 'tabler/js/require.min.js' %}"></script>
<script>
    requirejs.config({
        baseUrl: '.'
    });
    // find the static_url
    var static_url = "{% get_static_prefix %}";
</script>
<script src="{% static 'tabler/js/dashboard.js' %}"></script>
<script src="{% static 'tabler/plugins/charts-c3/plugin.js' %}"></script>
<script src="{% static 'tabler/plugins/maps-google/plugin.js' %}"></script>
<script src="{% static 'tabler/plugins/input-mask/plugin.js' %}"></script>
<script>
var requireSelect2 = function(callback) {
    require(["{% static 'select2/select2.min.js' %}", "{% static 'select2/select2.dropdownPosition.js' %}"], callback);
}
</script>
{% block js %}
{# additional javascript #}
{% endblock %}

</html>
