{% extends 'global/base.html' %}

{% block css %}
  {{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
<form method="POST" action="?{{ request.GET.urlencode }}" class="post-form">{% csrf_token %}
    <div class="card">
        <div class="card-header">
        {% block formheader %}
            <h3 class="card-title">
                {% block title %}
                {% endblock %}
            </h3>
        {% endblock %}
        </div>
        <div class="card-body">
            {% block formbodyheader %}
            {% endblock %}
            <div class="table-responsive">
                <table class="table table-borderless table-vcenter text-nowrap">
                    {{ form }}
                </table>
            </div>
            {% block formbodyfooter %}
            {% endblock %}
        </div>
        <div class="card-footer text-right">
            <div class="d-flex">
                <button type="submit" class="btn btn-primary ml-auto">Save</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
