{% extends 'global/base.html' %}
{% load humanize %}
{% block basetitle %}
<title>{{ contact.name }}</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-header">
        <h2> {{ contact.name }} </h2>
        {% if lead %}
            <div class="col text-right h2">
                <a class="button" href="{% url 'hackathons:leads:delete' h.pk contact.pk %}">
                    <button class="btn btn-primary ml-auto">Mark Uncontacted</button>
                </a>
                &nbsp;
                <a class="button" href="{% url 'hackathons:leads:edit' h.pk contact.pk %}">
                    <button class="btn btn-primary ml-auto">Edit</button>
                </a>
            </div>
        {% else %}
            <div class="col text-right h2">
                <a class="button" href="{% url 'hackathons:leads:mark_contacted' h.pk contact.pk %}">
                    <button class="btn btn-primary ml-auto">Mark Contacted</button>
                </a>
                &nbsp;
                <a class="button" href="{% url 'hackathons:leads:edit' h.pk contact.pk %}">
                    <button class="btn btn-primary ml-auto">Edit</button>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="col card-title">Status: &nbsp;
                {% include "cards/lead_status.html" %}
            </h2>
            {% if not lead %}
                <div class="col-sm-8 text-center" style="font-size: 14px">
                    <i class="fe fe-alert-triangle" style="color: red"></i>
                    <b style="font-size: 16px; color: red">This person has not been contacted for the current hackathon.</b><br />
                    Press "Mark Contacted" to begin tracking this person inside this sponsorship.
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row row-cards">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Contact Information</h2>
                    <!--div class="col text-right">
                        <a class="button" href="{% url 'contacts:edit' contact.pk %}">
                            <button class="btn btn-primary ml-auto">Edit</button>
                        </a>
                    </div-->
                </div>
                <div class="card-body">
                    {% with hackathon=h hide_company_info=True %}
                        {% include "cards/contact_general_info.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card flex-grow-1">
                <div class="card-header">
                    <h2 class="card-title">Contact Notes</h2>
                </div>
                <div class="card-body">
                    {{ contact.notes | safe }}
                </div>
            </div>
        </div>
    </div>


    {% if lead %}
        <div class="row row-cards">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">{{ lead.sponsorship.company }}</h2>
                    </div>
                    <div class="card-body">
                        <p class="required-field">
                            <label><b>Sponsorship Status: &nbsp; </b></label>
                            {% include "cards/sponsorship_status.html" %}
                        </p>
                    {% with company=lead.sponsorship.company %}
                        {% include "cards/company_general_info.html" %}
                    {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card flex-grow-1">
                    <div class="card-header">
                        <h2 class="card-title">Sponsorship Notes</h2>
                        <div class="col text-right">
                            <a class="button" href="{% url 'hackathons:sponsorships:view' h.pk contact.company.pk %}">
                                <button class="btn btn-primary ml-auto">View Sponsorship</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ lead.sponsorship.notes | safe }}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row row-cards">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">{{ contact.company }}</h2>
                    </div>
                    <div class="card-body">
                        {% if not sponsorship %}
                        <div style="font-size: 14px">
                            <i class="fe fe-alert-triangle" style="color: red"></i>
                            <b style="font-size: 16px; color: red">This company has not been contacted.</b>
                            <br /><br />
                        </div>
                        {% endif %}
                    <p class="required-field">
                        <label><b>Sponsorship Status: &nbsp; </b></label>
                        {% include "cards/sponsorship_status.html" %}
                    </p>
                    {% with company=contact.company %}
                        {% include "cards/company_general_info.html" %}
                    {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card flex-grow-1">
                    <div class="card-header">
                        <h2 class="card-title">Company Notes</h2>
                        <div class="col text-right">
                            <a class="button" href="{% url 'hackathons:sponsorships:view' h.pk contact.company.pk %}">
                                <button class="btn btn-primary ml-auto">View Company</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ company.notes | safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Other Company Contacts</h2>
            <div class="col text-right">
                <a class="button" href="{% url 'contacts:new' %}?company_id={{ contact.company.id }}&next={{ request.get_full_path|urlencode }}">
                    <button type="button" class="btn btn-primary ml-auto">New Contact</button>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Phone #</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in contacts %}
                        <tr>
                            <td><a href="{% url 'hackathons:leads:view' h.pk c.contact.pk %}" class="text-inherit">
                                <b>{{ c.contact.name }}</b>
                            </a></td>
                            <td><a href="" class="text-inherit">{{ c.contact.position }}</a></td>
                            <td><a href="" class="text-inherit">{{ c.contact.phone_number }}</a></td>
                            <td><a href="" class="text-inherit">{{ c.contact.email }}</a></td>
                            <td>
                                {% with lead=c.lead %}
                                    {% include "cards/lead_status.html" %}
                                {% endwith %}
                            </td>
                            <td>
                                <a class="icon" href="{% url 'contacts:edit' c.contact.pk %}">
                                    <i class="fe fe-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr><td colspan=6>
                        No contacts.
                        </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Other Company Sponsorships</h2>
        </div>
        <div class="card-body">
            {% with company=contact.company %}
                {% include "cards/company_sponsorships_table.html" %}
            {% endwith %}
        </div>
    </div>
    {% endblock %}