{% extends 'global/base.html' %}

{% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        {% with card_title='Confirmed Sponsorships' name='confirmed' page_var='confirmed_page' order_var='confirmed_order_by' sponsorships=confirmed %}
            {% include "cards/sponsorship_table.html" %}
        {% endwith %}
        {% with card_title='In Progress Sponsorships' name='in_progress' page_var='in_progress_page' order_var='in_progress_order_by' sponsorships=in_progress %}
            {% include "cards/sponsorship_table.html" %}
        {% endwith %}
        {% with card_title='Uncontacted Companies' name='uncontacted' page_var='uncontacted_page' order_var='uncontacted_order_by' sponsorships=uncontacted faked=1 %}
            {% include "cards/sponsorship_table.html" %}
        {% endwith %}
        {% with card_title='Dead Sponsorships' name='dead' page_var='dead_page' order_var='dead_order_by' sponsorships=dead %}
            {% include "cards/sponsorship_table.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}