{% extends 'global/forms.html' %}

{% block title %}
Assign Sponsorships to {{ user }}
{% endblock %}

{% block formheader %}
{{ block.super }}
<div class="col text-right">
    <a class="button" href="{% url 'hackathons:sponsorships:for_user' h.pk user.pk %}">
        <button type="button" class="btn btn-primary ml-auto">Back</button>
    </a>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
requireSelect2(function() {
    $("#id_sponsorships").select2();
});
</script>
<style>
.table th {
    width: 150px;
}
.select2.select2-container, #id_sponsorships {
    width: 100% !important;
}
</style>
{% endblock %}