{% extends 'global/base.html' %}

{% block content %}
<div class="col-lg-6 float-left">
    <div class="row gutters-xs">
        <div class="col">
            <a href="{% url 'companies:new' %}?next={% url 'hackathons:sponsorships:show' h.pk %}">
                <button class="btn btn-primary" type="button">Add Company</button>
            </a>
            &nbsp;
            <a href="{% url 'hackathons:sponsorships:for_user_list' h.pk %}">
                <button class="btn btn-primary" type="button">View Responsibilities</button>
            </a>
        {% if request.GET.urlencode|length > 1 %}
            &nbsp; 
            <a href="?"><button class="btn btn-primary" type="button">Reset Filters</button></a>
        {% endif %}
        </div>
    </div>
</div>
<div class="col-lg-3 ml-auto">
    <form action="{% url 'hackathons:sponsorships:show' h.pk %}" method="GET">
        <div class="row gutters-xs">
            <div class="col">
                <input class="form-control" placeholder="Search for..." type="text" name="q" value="{{ request.GET.q }}" />
            </div>
            <span class="col-auto">
                <button class="btn btn-secondary" type="button"><i class="fe fe-search"></i></button>
            </span>
        </div>
    </form>
</div>

<div class="my-3 my-md-5">
    <div class="container">
        {% with card_title='Confirmed Sponsorships' color='green' name='confirmed' page_var='confirmed_page' order_var='confirmed_order_by' show_search=0 name_q=request.GET.confirmed_q inline_search_links='q' sponsorships=confirmed %}
        {% if sponsorships %}
            {% include "cards/sponsorship_table.html" %}
        {% endif %}
        {% endwith %}
        {% with card_title='In Progress Sponsorships' color='orange' name='in_progress' page_var='in_progress_page' order_var='in_progress_order_by' show_search=0 name_q=request.GET.in_progress_q inline_search_links='q' sponsorships=in_progress %}
        {% if sponsorships %}
            {% include "cards/sponsorship_table.html" %}
        {% endif %}
        {% endwith %}
        {% with card_title='Uncontacted Companies' color='gray-dark' name='uncontacted' page_var='uncontacted_page' order_var='uncontacted_order_by' show_search=0 name_q=request.GET.uncontacted_q inline_search_links='q' sponsorships=uncontacted faked=1 %}
        {% if sponsorships %}
            {% include "cards/sponsorship_table.html" %}
        {% endif %}
        {% endwith %}
        {% with card_title='Dead Sponsorships' color='red' name='dead' page_var='dead_page' order_var='dead_order_by' show_search=0 name_q=request.GET.dead_q inline_search_links='q' sponsorships=dead %}
        {% if sponsorships %}
            {% include "cards/sponsorship_table.html" %}
        {% endif %}
        {% endwith %}
        {% if not confirmed and not in_progress and not uncontacted and not dead %}No sponsorships to display.{% endif %}
    </div>
</div>
{% endblock %}