{% extends 'global/base.html' %}
{% load humanize %}
{% block basetitle %}
<title>{{ company.name }}</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-header">
        <h2> {{ company.name }} </h2>
        {% if sponsorship %}
            <div class="col text-right h2">
                <a class="button" href="{% url 'hackathons:sponsorships:assign_organizers' h.pk company.pk %}">
                    <button class="btn btn-primary ml-auto">Assign Organizers</button>
                </a> &nbsp; 
                <a class="button" href="{% url 'hackathons:sponsorships:edit' h.pk company.pk %}">
                    <button class="btn btn-primary ml-auto">Edit</button>
                </a>
            </div>
        {% else %}
            <div class="col text-right h2">
                <a class="button" href="{% url 'hackathons:sponsorships:new' h.pk %}?company={{ company.pk }}">
                    <button class="btn btn-primary ml-auto">Start Tracking</button>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="col card-title">Status: &nbsp;
                {% include "cards/sponsorship_status.html" %}
            </h2>
            {% if not sponsorship %}
                <div class="col-sm-8 text-center" style="font-size: 14px">
                    <i class="fe fe-alert-triangle" style="color: red"></i>
                    <b style="font-size: 16px; color: red">This company has not been contacted for the current hackathon.</b><br />
                    Press "Start Tracking" to begin tracking this company as a potential sponsor.
                </div>
            {% elif no_contacted_employees %}
                <div class="col-sm-8 text-center" style="font-size: 14px">
                    <i class="fe fe-alert-triangle" style="color: red"></i>
                    <b style="font-size: 16px; color: red">No employees of this company have been marked as contacted.</b><br />
                    Press "Mark Contacted" for the contact(s) below who were contacted.
                </div>
            {% endif %}
        </div>
        {% if sponsorship %}
            <div class="card-header">
                <h2 class="col card-title">Assigned Organizers: &nbsp;
                    {% for user in sponsorship.organizer_contacts.all %}
                        <a href="{% url 'hackathons:sponsorships:for_user' h.pk user.pk %}" style="{% if user == request.user %}font-weight: bold{% endif %}">
                            {{ user }}</a>{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        None
                    {% endfor %}
                </h2>
            </div>
        {% endif %}
    </div>

    {% if sponsorship %}
        <div class="row row-cards">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Sponsorship Information</h2>
                    </div>
                    <div class="card-body">
                        <p class="required-field">
                            <label><b>Amount to be donated: </b></label>
                            ${{ sponsorship.contribution | intcomma }}
                        </p>
                        <p class="required-field">
                            <label><b>Sponsorship Tier: </b></label>
                            {% if sponsorship.tier %}
                                <a href="{% url 'hackathons:tiers:view' h.pk sponsorship.tier.pk %}" class="tag tag-red">{{ sponsorship.tier.name }}</a>
                            {% endif %}
                        </p>
                        <p class="required-field">
                            <label><b>Selected perks: </b></label>
                            {% for perk in sponsorship.perks.all %}
                            <a href="{% url 'hackathons:perks:view' h.pk perk.pk %}" class="tag tag-green">{{ perk.name }}</a>
                            {% endfor %}
                        </p>
                        <p class="text-right">
                            Last Updated: {{ sponsorship.updated_at }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card flex-grow-1">
                    <div class="card-header">
                        <h2 class="card-title">Notes</h2>
                    </div>
                    <div class="card-body">
                        {{ sponsorship.notes | safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row row-cards">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">General Information</h2>
                    <div class="col text-right">
                        <a class="button" href="{% url 'companies:edit' company.pk %}?next={{ request.get_full_path|urlencode }}">
                            <button class="btn btn-primary ml-auto">Edit</button>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {% include "cards/company_general_info.html" %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card flex-grow-1">
                <div class="card-header">
                    <h2 class="card-title">Company Notes</h2>
                </div>
                <div class="card-body">
                    {{ company.notes | safe }}
                </div>
            </div>
        </div>
    </div>
    <a id="contacts" name="contacts" />
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Associated Contacts</h2>
            <div class="col text-right">
                <a class="button" href="{% url 'contacts:new' %}?company_id={{ company.id }}&next={% url 'hackathons:sponsorships:view' h.pk company.pk %}">
                    <button type="button" class="btn btn-primary ml-auto">New Contact</button>
                </a>
            </div>
        </div>
        <div class="card-body">
            {% include "cards/lead_contacts_combined_table.html" %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Other Sponsorships</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter">
                    <thead>
                        <tr>
                            <th>Hackathon</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th>Tier</th>
                            <th>Perks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in company.sponsorships.all %}
                        {% if not sponsorship or not s == sponsorship %}
                        <tr>
                            <td><a href="{% url 'hackathons:sponsorships:view' s.hackathon.pk s.company.pk %}">
                                <b>{{s.hackathon.name}}</b>
                            </a></td>
                            <td>{% if s.status == "pending" %}
                                <span class="tag tag-red">Pending</span>
                                {% else %}
                                <span class="tag tag-green">Received</span>
                                {% endif %}

                            </td>
                            <td>${{s.contribution|intcomma}}</td>
                            <td><span class="tag tag-red">{{ s.tier.name }}</span></td>
                            <td>
                                {% for perk in s.perks.all %}
                                <span class="tag tag-green">{{ perk.name }}</span>
                                {% endfor %}
                            </td>
                            <td class="w-1"><a href="{% url 'hackathons:sponsorships:edit' s.hackathon.pk s.company.pk %}"
                                    class="icon"><i class="fe fe-edit"></i></a></td>
                        </tr>
                        {% elif company.sponsorships.count == 1 %}
                        <tr><td colspan=4>
                        No sponsorships.
                        </td></tr>
                        {% endif %}
                        {% empty %}
                        <tr><td colspan=4>
                        No sponsorships.
                        </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}