{% load humanize %}
{% load order_by %}
{% load modify_get %}
<div class="card" id="{{ name }}" name="{{ name }}">
    {% if color %}
        <div class="card-status bg-{{ color }}"></div>
    {% endif %}
    <div class="card-header">
        <h3 class="card-title">{{ card_title }}</h3>
        {% if show_search %}
        <div class="col-lg-3 ml-auto">
            <form action="{% if not self_link_search %}{% url 'hackathons:sponsorships:show' h.pk %}{% endif %}" method="GET">
                <div class="row gutters-xs">
                    <div class="col">
                        <input class="form-control" placeholder="Search for..." type="text" name="{% if name %}{{ name }}_q{% else %}q{% endif %}" value="{{ name_q }}" />
                    </div>
                    <span class="col-auto">
                        <button class="btn btn-secondary" type="button"><i class="fe fe-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
        {% endif %}
        {% if update_responsibilities_user_pk %}
            <div class="col text-right">
                <a class="button" href="{% url 'hackathons:sponsorships:for_user_modify' h.pk update_responsibilities_user_pk %}?next={{ request.get_full_path|urlencode }}">
                    <button class="btn btn-primary ml-auto">Update Responsibilities</button>
                </a>
            </div>
        {% endif %}

        <div class="col text-right">
            {% if exclude_link_query %}
                {% with "not:"|add:exclude_link_query as inverted_q %}
                    <a class="button" href="{% modify_get inline_search_links inverted_q %}">
                        <button class="btn btn-sm btn-primary ml-auto">Exclude {{ exclude_link_query }}</button>
                    </a>
                {% endwith %}
            {% endif %}

            {% if link_summary %}
                <a class="button" href="{% url 'hackathons:sponsorships:summary' h.pk %}?show={{ link_summary }}&{{ request.GET.urlencode }}">
                    <button class="btn btn-sm btn-primary ml-auto">View Summary</button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap">
            <thead>
                <tr>
                    <th style="min-width: 30%"><a href="{% order_by_custom order_var 'company' %}#{{ name }}">Company</a></th>
                    <th style="width: 0; text-align: center"><a href="{% order_by_custom order_var 'company__contacts__count' %}#{{ name }}">Contacts</a></th>
                    <th style="min-width: 20%"><a href="{% order_by_custom order_var 'company__industries' %}#{{ name }}">Industries</a></th>
                    <th style="min-width: 10%"><a href="{% order_by_custom order_var 'tier' %}#{{ name }}">Tier</a></th>
                    <th style="width: 0; text-align: center"><a href="{% order_by_custom order_var 'contribution' %}#{{ name }}">Contribution</a></th>
                    <th style="min-width: 10%"><a href="{% order_by_custom order_var 'status' %}#{{ name }}">Status</a></th>
                    <th style="width: 115px"></th>
                </tr>
            </thead>
            <tbody>
                {% for s in sponsorships %}
                <tr>
                    <td style="cursor: pointer" onclick="this.children[0].click()">
                        <a href="{% url 'hackathons:sponsorships:view' h.pk s.company.pk %}" class="text-inherit">
                        <b>{{ s.company.name }}</b>
                    </a>
                    </td>
                    <td style="text-align: center; cursor: pointer" onclick="this.children[0].click()">
                        <a href="{% url 'hackathons:sponsorships:view' h.pk s.company.pk %}#contacts" class="text-inherit">
                            {{ s.company.contacts.count }}
                        </a>
                    </td>
                    <td>
                        {% for industry in s.company.industries.all %}
                            <a href="{% modify_get inline_search_links industry.name %}" class="tag tag-{{ industry.color }}" title="Filter by this industry">
                                {{ industry.name }}
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if not s.tier %}
                            None    
                        {% elif inline_search_links %}
                            <a href="{% modify_get inline_search_links s.tier.name %}" class="tag tag-red" title="Filter by this tier">
                                {{ s.tier }}
                            </a>
                        {% else %}
                            <span class="tag tag-red">{{ s.tier }}</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center">${{ s.contribution|intcomma }}</td>
                    <td>
                    {% if faked %}
                        {% with sponsorship=None %}
                            {% include "cards/sponsorship_status.html" %}
                        {% endwith %}
                    {% else %}
                        {% with sponsorship=s %}
                            {% include "cards/sponsorship_status.html" %}
                        {% endwith %}
                    {% endif %}
                    </td>
                    <td>
                    {% if faked %}
                        <a class="tag tag-red float-right" href="{% url 'hackathons:sponsorships:new' h.pk %}?company={{ s.company.pk }}">
                            Start Tracking
                        </a>
                    {% else %}
                        <a class="icon" href="{% url 'hackathons:sponsorships:edit' h.pk s.company.pk %}">
                            <i class="fe fe-edit"></i>
                        </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
    {% if sponsorships.paginator %}
        <div class="pagination">
            {% if sponsorships.has_previous %}
                <div class="col text-left">
                    <a href="{% modify_get page_var sponsorships.previous_page_number %}#{{ name }}" class="button">
                        <button type="button" class="btn btn-primary">&laquo; Previous</button>
                    </a>
                </div>
            {% endif %}

            <span class="btn">
                Page {{ sponsorships.number }} of {{ sponsorships.paginator.num_pages }} &nbsp;&ndash;&nbsp;
                {{ sponsorships.paginator.count }} entr{% if sponsorships.paginator.count == 1 %}y{% else %}ies{% endif %}
            </span>

            {% if sponsorships.has_next %}
                <div class="col text-right">
                    <a href="{% modify_get page_var sponsorships.next_page_number %}#{{ name }}" class="button">
                        <button type="button" class="btn btn-primary">Next &raquo;</button>
                    </a>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ sponsorships|length }} entr{% if sponsorships|length == 1 %}y{% else %}ies{% endif %}
    {% endif %}
    </div>
    
</div>