<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="{% static 'hackerforce-logo.png' %}" type="image/png" />
        <link rel="shortcut icon" href="{% static 'hackerforce-logo.png' %}" type="image/png" />
        <title>TODO: Add a title</title>
        <link href="{% static 'tabler/css/dashboard.css' %}" rel="stylesheet" />
        <link href="{% static 'tabler/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />
        <link href="{% static 'tabler/plugins/maps-google/plugin.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% block css %}
            {# additional css #}
        {% endblock %}
    </head>



{% block content %}
<div class="page">
<div class="page-single">

<div class="container">
    <p>Please confirm your email address to complete the registration</p>
</div>

</div>
</div>
{% endblock %}
</html>

<script>
    function redirect(){
       window.location.href = "/login/";
    }

    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
</script>