<div class="card">
    <div class="card-header">
        <h2 class="card-title">Associated Sponsorships</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table card-table table-striped table-vcenter">
                <thead>
                    <tr>
                        <th>Hackathon</th>
                        <th>Tier</th>
                        <th>Perks</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for sponsorship in sponsorships %}
                    <tr>
                        <td><a href="{% url 'hackathons:sponsorships:view' sponsorship.hackathon.pk sponsorship.company.pk %}" class="text-inherit">
                            <b>{{sponsorship.hackathon.name}}</b>
                        </a></td>

                        <td><span class="tag tag-red">{{ sponsorship.tier.name }}</span></td>
                        <td>
                            {% for perk in sponsorship.perks.all %}
                            <span class="tag tag-green">{{ perk.name }}</span>
                            {% endfor %}
                        <td>
                            {% include "cards/sponsorship_status.html" %}
                        </td>
                        <td>${{sponsorship.contribution|intcomma}}</td>
                        <td class="text-nowrap">{{sponsorship.updated_at}}</td>
                        <td class="w-1"><a href="{% url 'hackathons:sponsorships:edit' sponsorship.hackathon.pk sponsorship.pk %}"
                                class="icon"><i class="fe fe-edit"></i></a></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan=4>
                    No sponsorships.
                    </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>