{% extends 'global/base.html' %}
{% load humanize %}
{% block basetitle %}
<title>Email Render</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="card-header">
    <h2> {{ email.subject }} </h2>
    <div class="col text-right h2">
      <a class="button" href="{% url 'emails:view' h.pk email.pk %}">
        <button class="btn btn-primary ml-auto">Back</button>
      </a>
      <a class="button" href="{% url 'emails:view' h.pk email.pk %}">
        <button class="btn btn-primary ml-auto">Edit</button>
      </a>
    </div>
  </div>

  <div class="row row-cards">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Email Render</h2>
        </div>
        <div class="card-body">
            {{ message }}
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
        <h2 class="card-title">Render Context</h2>
        </div>
        <div class="card-body">
        <b>Contact:</b> {{ contact }}
        <hr />
          <pre>
{{ context }}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}