{% extends 'email_compose_forms.html' %}
{% block basetitle %}
    <title>{% if existing %}Edit{% else %}New{% endif %} Email</title>
{% endblock %}

{% block title %}
{% if existing %}Edit{% else %}New{% endif %} Email From Industry
{% endblock %}

{% block formheader %}
{{ block.super }}
{% if existing %}
<div class="col text-right">
    <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'emails:view' h.pk existing.pk %}{% endif %}">
        <button class="btn btn-primary ml-auto" type="button">Back</button>
    </a>
    <a class="button" href="{% url 'emails:delete' h.pk existing.pk %}">
        <button class="btn btn-primary ml-auto" type="button">Delete</button>
    </a>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
requireSelect2(function() {
    $("#id_to_industries").select2();
    $("#id_size_selection").select2();
    $("#id_primary_selection").select2();
    $("#id_contacted_selection").select2();
});
</script>
{% endblock %}