{% extends 'global/base.html' %}
{% load humanize %}
{% block basetitle %}
<title>{{ email.internal_title }} ({{ email.subject }})</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="card-header">
    <h2> {{ email.internal_title }} </h2>
    <div class="col text-right h2">
      <a class="button" href="{% url 'emails:edit' h.pk email.pk %}">
        <button class="btn btn-primary ml-auto">Edit</button>
      </a> &nbsp;

      <a class="button" href="{% url 'emails:duplicate' h.pk email.pk %}">
          <button class="btn btn-primary ml-auto">Make Copy</button>
        </a> &nbsp;
  
      {% if email.status != 'sent' %}
        <a class="button" href="{% url 'emails:send' h.pk email.pk %}">
          <button class="btn btn-primary ml-auto">Send</button>
        </a>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="col card-title">Status: &nbsp;
        {% include "cards/email_status.html" %}
      </h2>

      {% if uses_context %}
        <div class="col-sm-8 text-center" style="font-size: 14px">
          <i class="fe fe-alert-triangle" style="color: red"></i>
          <b style="font-size: 16px; color: red">This email uses per-recipient custom fields in its body.</b><br />
          Press "Render Email" on a contact below to see an example email.
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row row-cards">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Email Information</h2>
        </div>
        <div class="card-body">
          <p class="required-field">
            <label><b>Email Compose Template:</b></label>
            {{ email.email_type }}
          </p>
          <p>
            <label><b>Matched companies:</b></label> {{ companies|length }}
          </p>
          <p>
            <label><b>Matched contacts:</b></label> {{ contacts|length }}
          </p>
          <p>
            {% if email.attach_packet %}
            Sponsorship packet <b style="color: green">attached</b>
            {% else %}
            Sponsorship packet <b style="color: red">not attached</b>
            {% endif %}
          </p>
          <p class="text-right">
            Last Updated: {{ email.last_update }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card flex-grow-1">
        <div class="card-header">
          <h2 class="card-title"><b>Subject:</b> {{ email.subject }}</h2>
          {% if not uses_context %}
          <div class="col text-right">
            <a class="button" href="{% url 'emails:render' h.pk email.pk %}">
              <button class="btn btn-primary ml-auto">Render</button>
            </a>
          </div>
          {% endif %}
        </div>
        <div class="card-body">
          {{ email.body | safe }}
        </div>
      </div>
    </div>
  </div>

  {% if email.to_companies.all or not email.to_contacts.all %}
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Email Filter</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap">
        {% if email.to_companies.all %}
          <tr>
            <th style="width: 150px">
              Companies:
            </th>
            <td>
              {% for c in email.to_companies.all %}
                <a href="{% url 'hackathons:sponsorships:view' h.pk c.pk %}">
                  {{ c }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% elif email.to_industries.all %}
          <tr>
            <th style="width: 150px">
              Industries:
            </th>
            <td>
              {% for i in email.to_industries.all %}
                <a href="{% url 'hackathons:sponsorships:show' h.pk %}?q={{ i }}">
                  {{ i }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>
              With Size:
            </th>
            <td>
              {% for s in email.size_selection %}
                {{ s }}{% if not forloop.last %}, {% endif %}
              {% empty %}
                Any
              {% endfor %}
            </td>
          </tr>
        {% endif %}
          <tr>
            <th>
              With Primary:
            </th>
            <td>
              {% for p in email.primary_selection %}
                {% if p == 'P' %}Primary{% elif p == 'NP' %}Not Primary{% endif %}{% if not forloop.last %}, {% endif %}
              {% empty %}
                Any
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>
              With Times Contacted:
            </th>
            <td>
              {% for c in email.contacted_selection %}
                {% if c == 'U' %}
                Uncontacted{% elif c == 'C1' %}
                Contacted 1x{% elif c == 'C2' %}
                Contacted 2x{% elif c == 'C3' %}
                Contacted 3x or more{% endif %}{% if not forloop.last %}, {% endif %}
              {% empty %}
                Any
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>
              With Company Status:
            </th>
            <td>
              {% if email.exclude_contacted_companies %}
                <b style="color: red">excluding</b> contacted companies
              {% else %}
                <b style="color: green">including</b> contacted companies
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% endif %}

  {% if email.status == 'sent' %}
    {% with title="Sent Companies" %}
      {% include "cards/email_companies_card.html" %}
    {% endwith %}

    {% with title="Sent Contacts" %}
      {% include "cards/email_contacts_card.html" %}
    {% endwith %}
  {% else %}
    {% if not email.to_companies.count and not email.to_contacts.count %}
      {% with title="Matched Companies" %}
        {% include "cards/email_companies_card.html" %}
      {% endwith %}
    {% endif %}
  
    {% if email.to_contacts.count %}
      {% with title="Selected Contacts" %}
        {% include "cards/email_contacts_card.html" %}
      {% endwith %}
    {% else %}
      {% with title="Matched Contacts" %}
        {% include "cards/email_contacts_card.html" %}
      {% endwith %}
    {% endif %}
  {% endif %}

</div>
{% endblock %}