<div class="card">
<div class="card-header">
    <h2 class="card-title">{{ title }}</h2>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Industries</th>
                    <th>Size</th>
                    <th>Tier</th>
                    <th>Contribution</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for c in companies %}
                <tr>
                    <td><a href="{% url 'hackathons:sponsorships:view' h.pk c.company.pk %}" class="text-inherit">
                        <b>{{ c.company }}</b>
                    </a></td>
                    <td>
                    {% for i in c.company.industries.all %}
                        <span class="tag tag-{{ i.color }}">{{ i.name }}</span>
                    {% endfor %}
                    </td>
                    <td>
                    {% if c.company.size == 'S' %}
                        <span class="tag tag-green">S</span>
                    {% endif %}
                    {% if c.company.size == 'M' %}
                        <span class="tag tag-yellow">M</span>
                    {% endif %}
                    {% if c.company.size == 'L' %}
                        <span class="tag tag-red">L</span>
                    {% endif %}
                    </td>
                    <td>
                    {% if c.sponsorship %}
                        {{ c.sponsorship.tier }}
                    {% else %}
                        None
                    {% endif %}
                    </td>
                    <td>
                    {% if c.sponsorship %}
                        ${{ c.sponsorship.contribution|intcomma }}
                    {% else %}
                        None
                    {% endif %}
                    </td>
                    <td>
                        {% with sponsorship=c.sponsorship %}
                            {% include "cards/sponsorship_status.html" %}
                        {% endwith %}
                    </td>
                    <td>
                        <a class="tag tag-green float-right" href="{% url 'hackathons:sponsorships:view' h.pk c.company.pk %}">
                            View Company
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan=6>
                No companies.
                </td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>