.dashboard-nav-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.nav-link.nav-selected {
    color: #495057 !important;
    border-color: #495057 !important;
}
a.button {
    text-decoration: none !important;
}
.tag.tag-yellow {
    color: black;
}
.tag-brown {
    background-color: brown;
    color: #fff;
}