{% extends 'global/base.html' %}
{% block basetitle %}
    <title>Dashboard</title>
{% endblock %}
{% block css %}
<style>
.condensed-table tr td, .condensed-table tr th {
    padding: 0.75rem 0.25rem;
}
.updated-at {
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    max-width: 130px;
}
a.no-underline {
    text-decoration: none !important;
}
</style>
{% endblock %}

{% block content %}
{# main Context goes here #}
<div class="page-header mt-0">
    <h1 class="page-title">
        <i class="fe fe-home page-title-icon"></i> {{current_hackathon.name}}
    </h1>

    <div class="col text-right">
        <a class="button" href="{% url 'hackathons:edit' h.pk %}?next={{ request.get_full_path|urlencode }}">
            <button class="btn btn-primary ml-auto">Edit</button>
        </a>
    </div>
</div>

<div class="row row-cards">

    <div class="col-lg-12">
        <div class="card">
            <div class="row text-center" style="margin: 0">
                <div class="col-lg-4">
                    <div class="card-status bg-green"></div>
                    <a href="{% url 'hackathons:sponsorships:show' h.pk %}?q=paid" class="text-inherit no-underline p-1">
                            <div class="h5">Funds raised to date</div>
                            <div class="display-4"><span class="text-green">${{ money_raised }}</span> <small class="display-6" style="font-size: 0.65em">/
                                    ${{ current_hackathon.fundraising_goal }}</small></div>
                        </a>
                </div>
                <div class="col-lg-4">
                    <div class="card-status bg-orange"></div>
                    <a href="{% url 'hackathons:sponsorships:show' h.pk %}?q=confirmed" class="text-inherit no-underline p-1">
                            <div class="h5">Expected funds</div>
                            <div class="display-4"><span class="text-orange">${{ money_expected }}</span> <small class="display-6" style="font-size: 0.65em">/
                                    ${{ current_hackathon.fundraising_goal }}</small></div>
                        </a>
                </div>
                <div class="col-lg-4">
                    <div class="card-status bg-gray"></div>
                    <a href="{% url 'hackathons:sponsorships:show' h.pk %}?q=responded" class="text-inherit no-underline p-1">
                            <div class="h5">Possible funds</div>
                            <div class="display-4"><span class="text-gray">${{ money_possible }}</span> <small class="display-6" style="font-size: 0.65em">/
                                    ${{ current_hackathon.fundraising_goal }}</small></div>
                        </a>
                </div>
            </div>
            <div class="card-body text-center pt-0">
                <div class="progress progress-lg">
                    <a href="{% url 'hackathons:sponsorships:show' h.pk %}?q=paid" class="progress-bar bg-green" style="width:{{ money_raised_width }}%"></a>
                    <a href="{% url 'hackathons:sponsorships:show' h.pk %}?q=confirmed" class="progress-bar bg-orange" style="width:{{ money_expected_width }}%"></a>
                    <a href="{% url 'hackathons:sponsorships:show' h.pk %}?q=responded" class="progress-bar bg-gray" style="width:{{ money_possible_width }}%"></a>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="col-lg-6">
        <div class="card">
            <div class="card-status bg-purple"></div>
            <div class="card-body text-center">
                <h4 class="card-title">Start a new hackathon</h4>
                <p class="card-text">Every year you should create a new hackathon object. Here you will set the
                    fundraising goals (how much money and by when you need it). Each year's hackathon will also
                    allow
                    you to keep track of which the status of companies for every year.</p>
                <a class="button" href="{% url 'hackathons:new' %}">
                    <button type="button" class="btn btn-primary">Create Hackathon</button>
                </a>
                <a class="button" href="{% url 'hackathons:index' %}">
                    <button type="button" class="btn btn-primary">Manage Hackathons</button>
                </a>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-status bg-blue"></div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Sponsorships</h4>
                        <p class="card-text">Create a new sponsorship relation between your current hackathon and a
                            given
                            company.</p>
                        <a class="button" href="{% url 'hackathons:sponsorships:new' h.pk %}">
                            <button type="button" class="btn btn-primary">Add new sponsorship</button>
                        </a>
                        <a class="button" href="{% url 'hackathons:sponsorships:show' h.pk %}">
                            <button type="button" class="btn btn-primary">View sponsorships</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    -->


    <div class="col-lg-12">
        <div class="card-header">
            <h3 class="card-title">Your Sponsorships</h3>
            <div class="col text-right">
                <a class="button" href="{% url 'hackathons:sponsorships:for_user_modify' h.pk request.user.pk %}?next={{ request.get_full_path|urlencode }}">
                    <button class="btn btn-sm btn-primary ml-auto">Update Responsibilities</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter condensed-table">
                    <thead>
                        {% if your_sponsorships %}
                        <tr>
                            <th>Company</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Updated</th>
                            <th></th>
                        </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for s in your_sponsorships %}
                        <tr>
                            <td><a href="{% url 'hackathons:sponsorships:view' h.pk s.company.pk %}" class="text-inherit">
                                    <b>{{ s.company.name }}</b>
                                </a></td>
                                <td>${{ s.contribution|intcomma }}</td>
                                <td>
                                    {% with sponsorship=s %}
                                        {% include "cards/sponsorship_status.html" %}
                                    {% endwith %}
                                </td>
                                <td class="updated-at">
                                    {{ s.updated_at|naturaltime|slice:":-4" }}
                                </td>
                                <td>
                                    <a class="icon" href="{% url 'hackathons:sponsorships:edit' h.pk s.company.pk %}">
                                        <i class="fe fe-edit"></i>
                                    </a>
                                </td>

                        </tr>
                        {% empty %}
                        <tr><td colspan=4>
                            You aren't responsible for any sponsorships.<br />
                            To add yourself to a sponsorship, hit "Assign" on a company's detail page.
                        </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card-header">
            <h3 class="card-title">Recent Leads</h3>
            <div class="col text-right">
                <a class="button" href="{% url 'contacts:new' %}?next={{ request.get_full_path|urlencode }}">
                    <button class="btn btn-sm btn-primary ml-auto">New Contact</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="row" style="margin: 0">
                {% for data in lead_chart_data %}
                <div class="col-sm-3">
                    <div class="card-status bg-{{ data.3 }}"></div>
                    <a href="{% url 'hackathons:leads:show' h.pk %}#{{ data.2 }}" class="text-inherit no-underline">
                        <div class="p-3 text-center" style="white-space: nowrap">
                            <div class="h1 m-0 mt-0 text-{{ data.3 }}">{{ data.1 }}</div>
                            <div class="mb-0">{{ data.0 }}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter condensed-table">
                    <thead>
                        {% if leads %}
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Times</th>
                            <th>Updated</th>
                        </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for l in leads %}
                        <tr>
                            <td><a href="{% url 'hackathons:leads:view' h.pk l.contact.pk %}" class="text-inherit">
                                    <b>{{ l.contact.name }}</b>
                                </a></td>
                                <td>
                                    {% with lead=l %}
                                        {% include "cards/lead_status.html" %}
                                    {% endwith %}
                                </td>
                                <td style="text-align: center">
                                    {{ l.times_contacted }}
                                </td>
                                <td class="updated-at">
                                    {{ l.updated_at|naturaltime|slice:":-4" }}
                                </td>
                        </tr>
                        {% empty %}
                        <tr><td colspan=4>
                            No one has been contacted for this hackathon yet.
                        </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="card-header">
            <h3 class="card-title">Recent Sponsorships</h3>
            <div class="col text-right">
                <a class="button" href="{% url 'companies:new' %}?next={{ request.get_full_path|urlencode }}">
                    <button class="btn btn-sm btn-primary ml-auto">New Company</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="row" style="margin: 0">
                {% for data in sponsorship_chart_data %}
                <div class="col-sm-3">
                    <div class="card-status bg-{{ data.3 }}"></div>
                    <a href="{% url 'hackathons:sponsorships:show' h.pk %}#{{ data.2 }}" class="text-inherit no-underline">
                        <div class="p-3 text-center" style="white-space: nowrap">
                                <div class="h1 m-0 mt-0 text-{{ data.3 }}">{{ data.1 }}</div>
                            <div class="mb-0">{{ data.0 }}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="table-responsive">
                <table class="table card-table table-striped table-vcenter condensed-table">
                    <thead>
                        {% if sponsorships %}
                        <tr>
                            <th>Company</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Updated</th>
                        </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for s in sponsorships %}
                        <tr>
                            <td><a href="{% url 'hackathons:sponsorships:view' h.pk s.company.pk %}" class="text-inherit">
                                    <b>{{ s.company.name }}</b>
                                </a></td>
                                <td>${{ s.contribution|intcomma }}</td>
                                <td>
                                    {% with sponsorship=s %}
                                        {% include "cards/sponsorship_status.html" %}
                                    {% endwith %}
                                </td>
                                <td class="updated-at">
                                    {{ s.updated_at|naturaltime|slice:":-4" }}
                                </td>
                        </tr>
                        {% empty %}
                        <tr><td colspan=4>
                            There are no sponsorships in the pipeline.<br />Better get going, no sponsorships means no hackathon!
                        </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!--
    <div class="col-lg-6">
        <div class="card">
            <div class="card-status bg-orange"></div>
            <div class="card-body text-center">
                <h4 class="card-title">User Permissions</h4>
                <p class="card-text">User groups allow you to control access for different users by placing them in
                    user groups.</p>
                <a type="button" href="{% url 'dashboard:404' %}" class="btn btn-secondary">Manage Permissions</a>
            </div>
        </div>
    </div>
    -->
    <div class="col-lg-6">

        <div class="card-header">
            <h4 class="card-title">Tiers</h4>
            <div class="col text-right">
                <a class="button" href="{% url 'hackathons:tiers:new' %}?hackathon={{ current_hackathon.pk }}&next={{ request.get_full_path|urlencode }}">
                    <button class="btn btn-sm btn-primary ml-auto">New Tier</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-status bg-red"></div>
            <div class="card-body">
                {% for tier in current_hackathon.tiers.all %}
                <a href="{% url 'hackathons:tiers:view' h.pk tier.pk %}" class="tag tag-red">
                    {{ tier.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-6">

        <div class="card-header">
            <h4 class="card-title">Perks</h4>
            <div class="col text-right">
                <a class="button" href="{% url 'hackathons:perks:new' %}?hackathon={{ current_hackathon.pk }}&next={{ request.get_full_path|urlencode }}">
                    <button class="btn btn-sm btn-primary ml-auto">New Perk</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-status bg-green"></div>
            <div class="card-body">
                {% for perk in current_hackathon.perks.all %}
                <a href="{% url 'hackathons:perks:view' h.pk perk.pk %}" class="tag tag-green">
                    {{ perk.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
