{% extends 'company_detail.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            Delete {{ company.name }}
        </h3>
    </div>
    <div class="card-body">
        <p>
            <b>Are you sure you want to delete this company?</b> If this company is associated with any hackathon sponsorships, that data will also be deleted!
        </p>
        <p>
            Please ensure that there are no related hackathon sponsorships below before deleting.
        </p>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete" value="yes" />
            <input type="submit" value="Delete Company" />
        </form>
    </div>
</div>

<div style="pointer-events: none; opacity: 0.5">
    {{ block.super }}
</div>
{% endblock %}