{% extends 'global/base.html' %}
{% load order_by %}
{% load modify_get %}
{% block basetitle %}
    <title>Companies</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Companies</h3>

            {% if user.is_authenticated %}
            <div class="col text-right">
                <a class="button" href="{% url 'companies:new' %}">
                    <button type="submit" class="btn btn-primary ml-auto">Add Company</button>
                </a>
            </div>
            {% endif %}
            <div class="col-lg-3 ml-auto">
                <form action="{% url 'companies:index' %}" method="GET">
                    <div class="row gutters-xs">
                        <div class="col">
                            <input class="form-control" placeholder="Search for..." type="text" name="q" value="{{ request.GET.q }}" />
                        </div>
                        <span class="col-auto">
                            <button class="btn btn-secondary" type="button"><i class="fe fe-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                    <tr>
                        <th><a href="{% order_by 'name' %}">Name</a></th>
                        <th>Industries</th>
                        <th><a href="{% order_by 'size' %}">Size</a></th>
                        <th style="text-align: center"><a href="{% order_by 'contacts__count' %}">Contacts</a></th>
                        <th><a href="{% order_by 'updated' %}">Updated</a></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies %}
                    <tr>
                        <td><a href="{% url 'companies:view' company.pk %}" class="text-inherit">
                            <b>{{ company.name }}</b>
                        </a></td>
                        <td>
                            {% for industry in company.industries.all %}
                                <a href="?q={{ industry.name }}" class="tag tag-{{ industry.color }}">
                                    {{ industry.name }}
                                </a>
                            {% endfor %}
                        </td>
                        <td>
                            {%if company.size == 'S'%}
                            <span class="tag tag-green">Small</span>
                            {% endif %}
                            {%if company.size == 'M'%}
                            <span class="tag tag-yellow">Medium</span>
                            {% endif %}
                            {%if company.size == 'L'%}
                            <span class="tag tag-red">Large</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center">{{ company.contacts.count }}</td>
                        <td> {{ company.updated }} </td>
                    <td class="text-right">
                            <div class="item-action dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Actions</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'companies:delete' company.pk %}" class="dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i>
                                        Delete </a>
                                </div>
                            </div>
                        </td>
                        <td>
                            {% if user.is_authenticated %}
                            <a class="icon" href="{% url 'companies:edit' company.pk %}?next={{ request.get_full_path|urlencode }}">
                                <i class="fe fe-edit"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan=6>
                        No companies matching criteria.
                    </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="pagination">
                {% if companies.has_previous %}
                    <div class="col text-left">
                        <a href="{% modify_get 'page' companies.previous_page_number %}" class="button">
                            <button type="button" class="btn btn-primary">&laquo; Previous</button>
                        </a>
                    </div>
                {% endif %}

                <span class="btn">
                    Page {{ companies.number }} of {{ companies.paginator.num_pages }}
                </span>

                {% if companies.has_next %}
                    <div class="col text-right">
                        <a href="{% modify_get 'page' companies.next_page_number %}" class="button">
                            <button type="button" class="btn btn-primary">Next &raquo;</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
